<div class="hero-unit">


	<h1>Welcome to maxBibleReader!</h1>
	<p>Gateway to your salvation and living an abundant life.</p>

	<p><%=link_to "maxBibleReader", "http://maxBibleReader.com", class: "btn btn-large btn-primary" %></p>

</div>
